# Embeddable
EMBEDDABLE_AUDIENCE_URL="https://auth.eu.embeddable.com"
EMBEDDABLE_AUTH_CLIENT_ID=
EMBEDDABLE_AUTH_DOMAIN="auth.eu.embeddable.com"
EMBEDDABLE_PREVIEW_BASE_URL="https://app.eu.embeddable.com"
EMBEDDABLE_PUSH_BASE_URL="https://app-api.eu.embeddable.com"
